html{
  height: 100%;
}

body {
  min-height: 100%;
}

div.full-height{
  min-height: 100vh;
}

a.inherit-colour {
  color: inherit;
}

div.post-container {
  margin-left: 20em;
  margin-right: 20em;
}
