<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <title>{{ page.title }}</title>
    	<link href="{{ site.url }}/assets/img/favicon.ico" rel="icon" type="image/x-icon" />

    	<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css" />
	    <script src="{{ site.url }}/assets/js/vendor/modernizr.js"></script>
  	</head>
	<body>
		<div class="site-header">
			<a class="site-title" href="{{ site.url }}/">
				<img src="{{ site.url }}/assets/img/favicon.ico"> <strong>Blog of Cailise</strong>
			</a>&nbsp; 
			<a href="{{ site.url }}/">Posts</a> | <a href="{{ site.url }}/">Contact Me</a>
		</div>

		<section class="main-section">
		  {{ content }}
		</section>
  	</body>
</html>
